flows.json
[
    {
        "id": "77739f07d1fee012",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eef81d50a1dfa758",
        "type": "serial-port",
        "name": "RS232",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "4800",
        "databits": "7",
        "parity": "even",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": " \\r",
        "responsetimeout": 10000
    },
    {
        "id": "34a7d51580ea7526",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "c780e8d77f7b8125",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1f3fa0e6eacd842e",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "34a7d51580ea7526",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "c780e8d77f7b8125",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5d2c8ad10fce93c9",
        "type": "ui-group",
        "name": "Chiller",
        "page": "1f3fa0e6eacd842e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "693241f465135f6a",
        "type": "ui-spacer",
        "group": "5d2c8ad10fce93c9",
        "name": "spacer",
        "tooltip": "",
        "order": 9,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "1a485ec106a5efbf",
        "type": "ui-spacer",
        "group": "5d2c8ad10fce93c9",
        "name": "spacer",
        "tooltip": "",
        "order": 7,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "f8d7bff1315d5e26",
        "type": "ui-spacer",
        "group": "5d2c8ad10fce93c9",
        "name": "spacer",
        "tooltip": "",
        "order": 11,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "bd35b320e599fccc",
        "type": "ui-link",
        "name": "Link 1",
        "ui": "34a7d51580ea7526",
        "path": "/",
        "icon": "home",
        "order": 2,
        "visible": true,
        "disabled": false
    },
    {
        "id": "fc4828b3c9dedc62",
        "type": "debug",
        "z": "77739f07d1fee012",
        "name": "Output Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "2127492e50451c2d",
        "type": "serial request",
        "z": "77739f07d1fee012",
        "name": "rs232",
        "serial": "eef81d50a1dfa758",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "0141e63a67abf376",
                "fc4828b3c9dedc62"
            ]
        ]
    },
    {
        "id": "20c639345ca90e29",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "Bath Temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "bathTemp",
        "payload": "IN_PV_00",
        "payloadType": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "2127492e50451c2d"
            ]
        ]
    },
    {
        "id": "6dcd2d6171198e9d",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "status",
        "payload": "status",
        "payloadType": "str",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "2127492e50451c2d"
            ]
        ]
    },
    {
        "id": "ebf0de748a8f9da1",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "External Temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "externalTemp",
        "payload": "IN_PV_02",
        "payloadType": "str",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "2127492e50451c2d"
            ]
        ]
    },
    {
        "id": "a5ee9ea1f4deddc9",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "SP_FB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "spFb",
        "payload": "IN_SP_00",
        "payloadType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "2127492e50451c2d"
            ]
        ]
    },
    {
        "id": "350fceb022f39b47",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "Bath Temp Units",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "bathTempUnits",
        "payload": "IN_SP_06",
        "payloadType": "str",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "2127492e50451c2d"
            ]
        ]
    },
    {
        "id": "0c89800cacac5725",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "SP ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OUT_SP_00 25",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "fda15a43f350b9cd"
            ]
        ]
    },
    {
        "id": "6eef82f1898d7ea2",
        "type": "comment",
        "z": "77739f07d1fee012",
        "name": "Status",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "a4898d68992732e7",
        "type": "comment",
        "z": "77739f07d1fee012",
        "name": "Control",
        "info": "",
        "x": 170,
        "y": 600,
        "wires": []
    },
    {
        "id": "1e9506cddc1871f5",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OUT_MODE_05 1",
        "payloadType": "str",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "686e4936582016ce"
            ]
        ]
    },
    {
        "id": "cff57832a045b8b7",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OUT_MODE_05 0",
        "payloadType": "str",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "c90b838b8c21fd29"
            ]
        ]
    },
    {
        "id": "3202b71f566061ee",
        "type": "serial out",
        "z": "77739f07d1fee012",
        "name": "RS232",
        "serial": "eef81d50a1dfa758",
        "x": 750,
        "y": 760,
        "wires": []
    },
    {
        "id": "c239ebc99cd350e6",
        "type": "change",
        "z": "77739f07d1fee012",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "C",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "str",
                "to": "F",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "00a03e5447dc9573"
            ]
        ]
    },
    {
        "id": "c7096e8e941dac22",
        "type": "ui-text",
        "z": "77739f07d1fee012",
        "group": "5d2c8ad10fce93c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bath Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1150,
        "y": 180,
        "wires": []
    },
    {
        "id": "0141e63a67abf376",
        "type": "switch",
        "z": "77739f07d1fee012",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bathTemp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "externalTemp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "spFb",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bathTempUnits",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "c7096e8e941dac22"
            ],
            [
                "f47241f7f4256dc1"
            ],
            [
                "b19958c27227be6e"
            ],
            [
                "c73c602175a1fd47"
            ],
            [
                "c239ebc99cd350e6"
            ]
        ]
    },
    {
        "id": "f47241f7f4256dc1",
        "type": "ui-text",
        "z": "77739f07d1fee012",
        "group": "5d2c8ad10fce93c9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "b19958c27227be6e",
        "type": "ui-text",
        "z": "77739f07d1fee012",
        "group": "5d2c8ad10fce93c9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "External Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "c73c602175a1fd47",
        "type": "ui-text",
        "z": "77739f07d1fee012",
        "group": "5d2c8ad10fce93c9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Setpoint Feedback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "00a03e5447dc9573",
        "type": "ui-text",
        "z": "77739f07d1fee012",
        "group": "5d2c8ad10fce93c9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bath Temp Units",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1160,
        "y": 340,
        "wires": []
    },
    {
        "id": "8e5d27ba163bb935",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "Selected SP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "selectedSP",
        "payload": "IN_MODE_01",
        "payloadType": "str",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "2127492e50451c2d"
            ]
        ]
    },
    {
        "id": "686e4936582016ce",
        "type": "ui-button",
        "z": "77739f07d1fee012",
        "group": "5d2c8ad10fce93c9",
        "name": "",
        "label": "Start",
        "order": 8,
        "width": 1,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "OUT_MODE_05 1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 760,
        "wires": [
            [
                "3202b71f566061ee"
            ]
        ]
    },
    {
        "id": "c90b838b8c21fd29",
        "type": "ui-button",
        "z": "77739f07d1fee012",
        "group": "5d2c8ad10fce93c9",
        "name": "",
        "label": "Stop",
        "order": 10,
        "width": 1,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "OUT_MODE_05 0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "3202b71f566061ee"
            ]
        ]
    },
    {
        "id": "fda15a43f350b9cd",
        "type": "ui-number-input",
        "z": "77739f07d1fee012",
        "d": true,
        "group": "5d2c8ad10fce93c9",
        "name": "Temp SP",
        "label": "Temp SP",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 300,
        "y": 700,
        "wires": [
            [
                "7d104780cebe2620"
            ]
        ]
    },
    {
        "id": "7d104780cebe2620",
        "type": "function",
        "z": "77739f07d1fee012",
        "name": "Temp SP Concatenate",
        "func": "var SPin = msg.payload\nmsg.payload = \"OUT_SP_00 \" + SPin  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 700,
        "wires": [
            [
                "7dfbb887d7de8e64"
            ]
        ]
    },
    {
        "id": "d2daace11062a54e",
        "type": "inject",
        "z": "77739f07d1fee012",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "27",
        "payloadType": "str",
        "x": 630,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7dfbb887d7de8e64",
        "type": "debug",
        "z": "77739f07d1fee012",
        "name": "SP Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 700,
        "wires": []
    },
    {
        "id": "68466be6a916ccc8",
        "type": "ui-form",
        "z": "77739f07d1fee012",
        "name": "sp form",
        "group": "5d2c8ad10fce93c9",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Temp SP",
                "key": "SP",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "SP": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "9f2ae245a438cff3",
                "b7764b5f890ad33c"
            ]
        ]
    },
    {
        "id": "1f0c8c6d62c08c54",
        "type": "debug",
        "z": "77739f07d1fee012",
        "name": "form debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "9f2ae245a438cff3",
        "type": "debug",
        "z": "77739f07d1fee012",
        "name": "form out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "b7764b5f890ad33c",
        "type": "function",
        "z": "77739f07d1fee012",
        "name": "function 1",
        "func": "var SPin = msg.payload.SP;\nmsg.payload = \"OUT_SP_00 \" + SPin  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "1f0c8c6d62c08c54",
                "3202b71f566061ee"
            ]
        ]
    }
]